### 01 Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### 02 Import Data

In [2]:
# import customer data set
df_cust=pd.read_csv(r"F:\CareerFoundry\Instacart Basket Analysis\02 Data\Original Data\customers.csv", index_col=False)

### 03 Check Data

In [3]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [4]:
round(df_cust.describe(),2)

         user_id        Age  n_dependants     income
count  206209.00  206209.00     206209.00  206209.00
mean   103105.00      49.50          1.50   94632.85
std     59527.56      18.48          1.12   42473.79
min         1.00      18.00          0.00   25903.00
25%     51553.00      33.00          0.00   59874.00
50%    103105.00      49.00          1.00   93547.00
75%    154657.00      66.00          3.00  124244.00
max    206209.00      81.00          3.00  593901.00

In [5]:
df_cust

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374
...,...,...,...,...,...,...,...,...,...,...
206204,168073,Lisa,Case,Female,North Carolina,44,4/1/2020,1,married,148828
206205,49635,Jeremy,Robbins,Male,Hawaii,62,4/1/2020,3,married,168639
206206,135902,Doris,Richmond,Female,Missouri,66,4/1/2020,2,married,53374
206207,81095,Rose,Rollins,Female,California,27,4/1/2020,1,married,99799
206208,80148,Cynthia,Noble,Female,New York,55,4/1/2020,1,married,57095

### 04 Clean Data

In [6]:
# check for missing data
df_cust.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [7]:
# check for mixed data
for col in df_cust.columns.tolist():
  weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cust[weird]) > 0:
    print (col)

First Name

In [8]:
# fixed mixed data
df_cust['First Name']=df_cust['First Name'].astype('str')

In [9]:
# check for duplicate records
df_cust.duplicated().sum()

0

### 05 Combine DataFrames

In [9]:
# import ords_prods_merge dataframe
df_opm = pd.read_pickle(r"C:\Users\drmat\OneDrive\Documents\order_products__prior4.9_1.pkl")

In [10]:
# check data
df_opm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32641279 entries, 0 to 32641278
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   order_day_of_week       float64
 4   order_hour_of_day       float64
 5   days_since_prior_order  float64
 6   product_id              float64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest days            object
 15  busiest_period_of_day   object
 16  max_order               float64
 17  loyalty_flag            object
 18  average_price           float64
 19  spending_flag           object
 20  median_days             float64
 21  order_frequency_flag    object
dtypes: float64(15), object(7)
memory usage: 5.6+ GB

In [11]:
# merge data into new dataframe df_opmc
df_opmc=df_opm.merge(df_cust, on=['user_id'],how='outer')

In [12]:
# check data
df_opmc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32641279 entries, 0 to 32641278
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   order_day_of_week       float64
 4   order_hour_of_day       float64
 5   days_since_prior_order  float64
 6   product_id              float64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest days            object
 15  busiest_period_of_day   object
 16  max_order               float64
 17  loyalty_flag            object
 18  average_price           float64
 19  spending_flag           object
 20  median_days             float64
 21  order_frequency_flag    object
 22  First Name              object
 23  Surnam                  object
 24  Gender                  object
 25  STATE                   object
 26  Age                     float64
 27  date_joined             object
 28  n_dependants            float64
 29  fam_status              object
 30  income                  float64
dtypes: float64(18), object(13)
memory usage: 7.8+ GB

### 06 Export Data

In [13]:
# export to pickle
df_opmc.to_pickle(r"C:\Users\drmat\OneDrive\Documents\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_customers_merged4-9.pkl")